.orderFeed__container {
  display: flex;
  flex-direction: column;
  width: 584px;
  padding-top: 40px;
  margin: 0 auto;
}

.orderFeed__all {
  
  display: flex;
  flex-direction: column;
  width: 584px;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 770px;
  overflow-y: auto;
}

.orderFeed__title {
  max-width: 584px; 
}
