.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 100px;
}

.choose {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.profile__block {
  display: flex;
  flex-direction: column;
}  