.modal {
  position: absolute;
  width: 720px;
  height: 539px;
  background: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2); 
  border-radius: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 3;
}

.modal__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}