.header {
  max-width: 1920px;
  width: 100%;
  background-color: var(--background);
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px; 
  margin: 0 auto;
}

.link__column { 
  display: flex;
  gap: 8px;
}

.logo {
  display: flex;
  justify-content: center;
}

.header__profile {
  display: flex;
  justify-content: flex-end;
} 

.active {
  color: white;
}